/app/target
/app/Cargo.lock
/lib/target
/lib/Cargo.lock
/cas/target
/cas/Cargo.lock
/io/target
/io/Cargo.lock
/common/target
/common/Cargo.lock
/interpreter/target
/interpreter/Cargo.lock
.DS_Store
.vscode
.VSCodeCounter
.idea
testfile.hawk
library.hawk
test.csv
app/out.csv
/web/package-lock.json